# Backend API base URL
# Production: https://backend-glamour.bis-apps.com/api
# Staging:    https://stage-backend-glamour.bis-apps.com/api
VITE_BASE_URL=https://backend-glamour.bis-apps.com/api

# Smartup integration API base URL
VITE_SMARTUP_INTEGRATION_BASE_URL=https://glamour-smartup.bis-apps.com/api
